{% extends 'base.html.twig' %}

{% block title %}Accueil — MachinesBois{% endblock %}

{% block body %}

<h1>Bienvenue sur le site de Paca Machine à Bois</h1>
<p>Située à la porte du Jura à proximité de Pontarlier, Champagnole et la Suisse, la société MARMET MACHINES A BOIS, forte de son expérience vous propose ses conseils, ses services (SAV, dépannages, livraisons, installation, mise en route...) et un large choix de machines neuves ou d'occasion.</p>
<p>Nous vous proposons pour le travail du bois et ses dérivés, de grandes marques de machines portatives, d'outillage, d'accessoires (abrasifs, visserie, connecteurs, boulons charpente, divers quincaillerie....) pour amateurs et professionnels.</p>
<p>Notre magasin d'expo d'une surface de 650 m² est ouvert du lundi au vendredi de 8h00 à 12h00 et 13h30 à 18h00.
Le samedi matin de 8h à 12h00.</p>

{% if toolTypes is empty %}
    <p>Aucun type d'outil disponible pour le moment.</p>
{% else %}
    <h2>Types d'outils disponibles :</h2>
    <ul>
    {% for toolType in toolTypes %}
        <li>
            <a href="{{ path('tooltype_show', {'id': toolType.id}) }}">
                {{ toolType.name }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% endif %}
 
{% endblock %}
