{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}
<h1>Réinitialiser ton mot de passe</h1>

{{ form_start(form) }}
    {{ form_row(form.password) }}
    <button type="submit" class="btn btn-success">Confirmer</button>
{{ form_end(form) }}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}
{% endblock %}
